;; shadow-cljs configuration
{:dependencies
 [[org.clojure/test.check "0.10.0-alpha4"]
  [binaryage/devtools "0.9.7"]]

 :source-paths
 ["src"
  "test"]

 :js-options {:js-package-dirs ["node_modules"]}

 :builds {:main {:target :node-script
                :modules {:main {:init-fn {{name}}.core/main}}
                :output-to "resources/index.js"
                :output-dir "resources/public/js/compiled"
                :compiler-options {:closure-warnings {:global-this :off}
                                   :closure-defines {re-frame.trace.trace-enabled? true}}
                :main {{name}}.core/main
                }}}
